# Mac files
*.DS_Store

# log ignores
*.log
**/logs/*
**/log/*

# build files
/classes/
/build/
/bin/
/out/
/tmp/
target/
/lib_managed/
**/__pycache__/
*.jar
*.class

# Intellij
.idea
*.iml
*.ipr
*.iws

# keep any .gitkeep files, regardless of ignores
!**/.gitkeep
