<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <!--Used to name each of the pieces of the properties-->
        <Property name="timestamp">%d{yyyy-MM-dd HH:mm:ss}</Property>
        <Property name="logEntryType">%-5p</Property>
        <Property name="className">%c</Property>
        <Property name="method">%M</Property>
        <Property name="filename">%F</Property>
        <Property name="lineNumber">%L</Property>
        <Property name="message">%m</Property>
        <Property name="newline">%n</Property>
        <Property name="pattern" value="[${timestamp}] [${logEntryType}] ${className}.${method}(${filename}:${lineNumber}) ${message}${newline}" />
        <Property name="colorfulPattern" value="[${timestamp}] [%highlight{${logEntryType}}{TRACE=magenta}] ${className}.${method}(${filename}:${lineNumber}) ${message}${newline}" />
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/output.log" filePattern="logs/output-%i.log">
            <!--Uses the above property named "pattern"-->
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <OnStartupTriggeringPolicy /> <!-- Start a new log file on startup -->
                <SizeBasedTriggeringPolicy size="25 MB"/> <!-- Start a new log file at 25MB -->
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <!--Uses the above property named "colorfulPattern"-->
            <PatternLayout pattern="${colorfulPattern}" />
        </Console>
    </Appenders>

    <Loggers>

        <!-- Metrics from spark -->
        <Logger name="metrics" level="INFO" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!--All self-domain logs -->
        <Logger name="com.sbchapin" level="TRACE" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="WARN">
            <AppenderRef ref="RollingFile" level="TRACE"/>
            <AppenderRef ref="Console" level="WARN"/>
        </Root>
    </Loggers>
</Configuration>
